body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 500px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.titleText {
  /* banner height */
  height: 40px; 
  /*banner colour*/
  background-color: #ffefa9;

  /*title text*/
  text-align: center;
  color: rgb(255, 186, 59);
  /* font-size: 30px; */
}

h1 {
  font-size: 30px;
}

div {
  text-align: left;
}